<?xml version="1.0"?>
<launch>
 <arg name="robot_ip"  default="10.0.0.17" />
  <arg name="pc_ip"  default="10.0.0.15" />
<arg name="user"  default="lizi" />
<arg name="pass"  default="a" />
  
<machine name="lizi" address="$(arg robot_ip)" user="$(arg user)" password="$(arg pass)" env-loader="~/catkin_ws/src/ric/ric_base_station/config/remote_env.sh" default="true"/>

<include file="$(find ric_robot)/launch/lizi.launch">
<arg name="id" value="1" />
</include>


</launch>

 
