<?xml version="1.0"?>
<launch>
  
  <arg name="id" default='1' />
   
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find ric_description)/lizi/lizi_fixed.xacro' lizi_id:=$(arg id)" />
    <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 0 0 0 map odom_link 20" /> 
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" /> 
  
  <group ns="lizi_$(arg id)">
    

    <include file="$(find ric_board)/launch/lizi.launch"/>

  </group>
  
</launch>


